[access "refs/*"]
	owner = group user/Philippe Dosch (loirotte)
[access "refs/for/refs/*"]
	read = group user/Philippe Dosch (loirotte)
	push = group user/Philippe Dosch (loirotte)
	label-Code-Review = -2..+2 group user/Philippe Dosch (loirotte)
	label-Verified = -1..+1 group user/Philippe Dosch (loirotte)
	rebase = group user/Philippe Dosch (loirotte)
	removeReviewer = group user/Philippe Dosch (loirotte)
	submit = group user/Philippe Dosch (loirotte)
[access "refs/heads/*"]
	read = group user/Philippe Dosch (loirotte)
	create = group user/Philippe Dosch (loirotte)
	push = +force group user/Philippe Dosch (loirotte)
	pushMerge = group user/Philippe Dosch (loirotte)
[access "refs/tags/*"]
	push = +force group user/Philippe Dosch (loirotte)
	pushTag = group user/Philippe Dosch (loirotte)
	pushSignedTag = group user/Philippe Dosch (loirotte)
